<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include 'includes/_head.html' %}
    {% block extra_css %}{% endblock %}
    <title>{% block title %}DjangoProject{% endblock %}</title>
  </head>
  <body>
    {% block navbar %}{% if user.is_authenticated %}{% include 'includes/_navigation.html' %}{% endif %}{% endblock %}

    <main class="content">
      {% block flash_messages %}
      <div class="py-4">
        {% if messages %}
          <div class="container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
      {% endblock %}
      {% block content_container %}
      <div class="container">
        {% block content %}{% endblock %}
      </div>
      {% endblock %}
    </main>

    {% block footer %}{% include 'includes/_footer.html' %}{% endblock %}
    {% include 'includes/_scripts.html' %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
